page-history {


  .SecondList
  {
    margin-top: 150px;
  }
   
  .borFirst
  {
    height: 40px !important ;
    width: 100% !important;
    margin-top: 2px;
    background-color:rgb(5, 40, 73)!important;

    
  }

  .te
  {
    color: white;
    font-size :15px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }


   




}
