page-payment {


    .col{
        border: 0;
   
   }


     ion-item {
       padding-left: 10px !important;
       margin-bottom: 5px;
       background-color: #f6f6f6;
       opacity: 0.7;
       
     }
    .Step
    {
        color : red ; 
        font-size: 14px;
    }
}
