page-contact-us {

    .info 
    {
      
        margin-top:20px; 
        margin-right:8px; 
        padding-top:1px;
    }
    .te 
    {
        font-size: 18px;
    }

   



    .info_header
    {
        font-size: 18px;
        color: rgb(44, 140, 204);
        margin-right: 8px;
    }

    .col
    {
        border: 0.5px solid rgb(32, 32, 32);
    }
    .info_claim
    {
        font-size: 20px;
        color: rgb(44, 140, 204);
        padding-top: 30px; 
        margin-right: 8px;
    }
   
    .hr
    {
        border: 0.5px solid rgb(32, 32, 32);
    }

   
  
}
