page-driver-account {


    .col{
        //border: 0.2px solid ;
        text-align: center;
        
   
   }

   ion-icon {
    font-size: 100px; //Preferred size here
    color:rgb(44, 93, 139);
}

.acount
{
    font-size: 50px;
    color: red;
    padding-top:0;
    margin: 0px;
}

.listInfo{
    font-size: 9px !important;
}

.borFirst
{
  height: 40px !important ;
  width: 100% !important;
  margin-top: 2px;
  background-color:rgb(5, 40, 73)!important;

  
}

.te
{
  color: white;
  font-size :15px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}


.btnCo1
{
  width: 120px;
  height: 40px;
  font-size: 0.9em;
  background-color: #39acdc;
  color: white;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.btnBack2
{
 width: 120px;
 height: 40px;
 font-size: 0.9em;
 background-color: #39acdc;
 color: white;
 margin-right: 30px;
 margin-top: 50px;
 margin-bottom: 30px;
}
}
